<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monitoring_ioc</title>
  <script src="{{ asset('assets/app.js') }}"></script>  
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">   
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
 
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="overflow-hidden overflow-y-auto w-screen w-full">
  @!component('components/header')
  @!component('components/flash')
  <section class="flex flex-col h-full relative">
    @!section('body')
  </section>
  <script src="https://kit.fontawesome.com/86a7905f8d.js" crossorigin="anonymous"></script>
</body>
</html>
