@layout('layouts/welcome')


@section('body')

<section class="text-center text-xl py-4">
    All Modules_ioc
</section>
<script>
    function graph(module_id, updated_at, value) {
        const canva = document.createElement('canvas');
        canva.id = `chartLine${module_id}`;
        const labels = [`${updated_at}`];
        const data = {
        labels: labels,
        datasets: [
            {
            label: "record value",
            backgroundColor: "hsl(252, 82.9%, 67.8%)",
            borderColor: "hsl(252, 82.9%, 67.8%)",
            data: value,
            },
        ],
        };
        
        const configLineChart = {
            type: "line",
            data,
            options: {},
        };
        
        var chartLine = new Chart(
            document.getElementById(`chartLine${module_id}`),
            configLineChart
        );
        return canva;
    }
</script>

<section class="px-8 py-4">
    <table class="min-w-full overflow-hidden shadow-md sm:rounded-lg">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                    Name
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                    Current value
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                    Uptime
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                    Sent data
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                    State
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                    Graph
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @each(module in modules)
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <a href="{{route ('modules.show', {id: module.id}) }}" class="text-blue-600 dark:text-blue-500 hover:underline">{{module.name}}</a>
                    </td>
                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                        @if(module.current_state && module.type == 1)
                            {{module.current_value}} °C
                        @elseif(module.current_state && module.type == 2)
                                {{module.current_value}} persons
                        @elseif(module.current_state && module.type == 3)
                                {{module.current_value}} km/h
                        @else
                            n/a
                        @end
                    </td>
                    <td id="dateTime" class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                        @each(date in uptimeList)
                            @if(date.id == module.id)
                                {{date.active }} 
                            @end  
                        @end
                    </td>
                    @each(count in nbValue)
                        @if(count.module_id == module.id)
                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                {{count.count}}
                            </td>
                        @end
                    @end
                    <td class="py-4 px-6 text-sm font-medium text-center whitespace-nowrap">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{module.current_state? 'bg-green-800 text-white': 'bg-red-500 text-white'}}"> {{module.current_state? 'Online':'Offline'}} </span>
                    </td>
                    <td id='logsList' class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                        @each(logs in logsList)
                            @if(logs.module_id == module.id)
                                {{--  <script>window.addEventListener('load', () => graph(`{{logs.module_id}}`, `{{logs.updated_at}}`, `{{logs.value}}`))</script>
                                <canvas class="p-10" id={{'chartLine' + logs.module_id}}></canvas>    --}}
                            @end
                        @end
                    </td>
                </tr>
                @end
            </tbody>
        </table>

</section>
    
@end
