@layout('layouts/welcome')


@section('body')

<section class="flex py-4 justify-around">
    <form action="/modules/{{module.id}}/changeState" method="post">
        @if(module.current_state)
            <button type="submit" 
                class="px-6 py-2 bg-red-500 rounded shadow-md text-white">
                Deactivate Module
            </button>
        @else            
            <button type="submit" 
                class="px-6 py-2 bg-green-600 rounded shadow-md text-white">
                Activate Module
            </button>
        @end
    </form>
    <form action="/modules/{{module.id}}/deleteModule" method="post">
        <button type="submit" class="px-6 py-2 bg-red-500 rounded shadow-md text-white">
            Delete Module
        </button>
    </form>
    <h1>Module: {{module.name}} </h1>
</section>

<section class="px-8 py-4">
    <table class="min-w-full overflow-hidden shadow-md sm:rounded-lg">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Type
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Location
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Current_value
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                        Current_state
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Created_at
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                    @if(module.type == 1)
                        Temperature
                    @elseif(module.type == 2)
                        Counter
                    @else
                        Speed
                    @end
                </td>
                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                    {{module.location}}
                </td>
                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                    @if(module.current_state && module.type == 1)
                        {{module.current_value}} °C
                    @elseif(module.current_state && module.type == 2)
                        {{module.current_value}} persons
                    @elseif(module.current_state && module.type == 3)
                            {{module.current_value}} km/h
                    @else
                        n/a
                    @end
                </td>
                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{module.current_state? 'bg-green-800 text-white': 'bg-red-500 text-white'}}"> {{module.current_state? 'Online':'Offline'}} </span>
                </td>
                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                    {{module.created_at}}
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="text-center py-4">
    Logs of {{module.name}}
</section>

<section class="px-8 py-4">
    <table class="min-w-full overflow-hidden shadow-md sm:rounded-lg">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Value
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    State
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                    Updated_at
                </th>
            </tr>
        </thead>
        <tbody>
            @each(log in logs)
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @if(log.state && module.type == 1)
                            {{log.value}} °C
                        @elseif(log.state && module.type == 2)
                            {{log.value}} persons  
                        @elseif(log.state && module.type == 3)
                            {{log.value}} km/h
                        @else
                            n/a
                        @end
                    </td>
                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{log.state? 'bg-green-800 text-white': 'bg-red-500 text-white'}}"> {{log.state? 'Online':'Offline'}} </span>
                    </td>
                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                        {{log.updated_at}}
                    </td>
                </tr>
            @end
        </tbody>
    </table>
</section>

@end