<a href="{{ href }}" type="button" class="bg-indigo-500 font-bold p-2 uppercase text-xs rounded shadow hover:shadow-md outline-none shadow-black shadow-md focus:outline-none mr-3 mb-2.5 ease-linear transition-all duration-150">{{ text }}</a>
